nav {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(12px);
  background: linear-gradient(90deg, rgba(30,30,30,0.95), rgba(60,60,60,0.95));
  border: 2px solid rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  animation: slideDown 1s ease-out;
  background-color: rgb(255, 255, 255);
}

nav .logo {
  font-size: 22px;
  font-weight: 700;
  color: #e0e0e0;
  text-shadow: 0 0 12px #888;
  letter-spacing: 1px;
  animation: glowPulse 3s infinite alternate;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 28px;
}

nav ul li a {
  text-decoration: none;
  color: #bbb;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.4s ease;
  position: relative;
  text-shadow: 1px 4px 7px  white;
}

nav ul li a:hover {
  color: #fff;
  background: #444;
  box-shadow: 0 0 15px #666;
  transform: scale(1.1);
}

nav ul li a.active {
  color: #fff;
  background: #222;
  box-shadow: 0 0 15px #555;

}
section{
  padding: 4rem;
  margin: 4rem;
}


 body {
   --scale: 1.3;
   font-family: system-ui, sans-serif;
   margin: .25em;
   background-color: #222;
 }


 ol {
   all: unset;
   container-type: inline-size;
   counter-reset: element;
   display: grid;
   font-size: 2cqi;
   gap: 1px;
   grid-template-columns: repeat(18, 1fr);
   grid-template-rows: repeat(10, 1fr);
   display: grid;
   grid-template-columns: repeat(18, minmax(0, 1fr));
   padding-top: 50px;

   /* Element name and abbreviation */
   abbr {
     display: grid;
     font-weight: 500;
     grid-area: 2 / 1 / 4 / 3;
     line-height: 1;
     text-align: center;
     text-decoration: none;
    

     &::after {

       display: block;
       font-size: 0.33em;
       font-weight: 1;
       place-self: end center;
       
     }
   }

   /* Element Box */
   li {
     aspect-ratio: 1 / 1;
     background: #EEE;
     counter-increment: element;
     display: grid;
     grid-template-columns: 50fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     padding: .25ch;
     transition: scale .125s ease-in;
     border-radius: 10px;
     &::before {
       content: counter(element);
     }

     &::after {
       content: attr(data-mass);
       grid-area: 1 / 2 / 2 / 2;
       justify-self: end;
     }

     &::before,
     &::after {
       font-size: .33em;
     }

     @media (hover: hover) {
       &:hover {
         box-shadow: 0 0 0 .25px #000;
         scale: var(--scale);
         
         
       }
     }

     /* Layout */
     &:nth-of-type(2) {
       grid-column: 18;
       
     }

     &:nth-of-type(5),
     &:nth-of-type(13) {
       grid-column: 13;
     }

     /* Lanthenides */
     &:nth-of-type(58) {
       grid-area: 9 / 4 / 9/ 4;
     }

     &:nth-of-type(59) {
       grid-area: 9 / 5 / 9/ 5;
     }

     &:nth-of-type(60) {
       grid-area: 9 / 6 / 9/ 6;
     }

     &:nth-of-type(61) {
       grid-area: 9 / 7 / 9/ 7;
     }

     &:nth-of-type(62) {
       grid-area: 9 / 8 / 9/ 8;
     }

     &:nth-of-type(63) {
       grid-area: 9 / 9 / 9/ 9;
     }

     &:nth-of-type(64) {
       grid-area: 9 / 10 / 9 / 10;
     }

     &:nth-of-type(65) {
       grid-area: 9 / 11 / 9 / 11;
     }

     &:nth-of-type(66) {
       grid-area: 9 / 12 / 9 / 12;
     }

     &:nth-of-type(67) {
       grid-area: 9 / 13 / 9 / 13;
     }

     &:nth-of-type(68) {
       grid-area: 9 / 14 / 9 / 14;
     }

     &:nth-of-type(69) {
       grid-area: 9 / 15 / 9 / 15;
     }

     &:nth-of-type(70) {
       grid-area: 9 / 16 / 9 / 16;
     }

     &:nth-of-type(71) {
       grid-area: 9 / 17 / 9 / 17;
     }


     &:nth-of-type(90) {
       grid-area: 10 / 4 / 10 / 4;
     }

     &:nth-of-type(91) {
       grid-area: 10 / 5 / 10 / 5;
     }

     &:nth-of-type(92) {
       grid-area: 10 / 6 / 10 / 6;
     }

     &:nth-of-type(93) {
       grid-area: 10 / 7 / 10 / 7;
     }

     &:nth-of-type(94) {
       grid-area: 10 / 8 / 10 / 8;
     }

     &:nth-of-type(95) {
       grid-area: 10 / 9 / 10 / 9;
     }

     &:nth-of-type(96) {
       grid-area: 10 / 10 / 10 / 10;
     }

     &:nth-of-type(97) {
       grid-area: 10 / 11 / 10 / 11;
     }

     &:nth-of-type(98) {
       grid-area: 10 / 12 / 10 / 12;
     }

     &:nth-of-type(99) {
       grid-area: 10 / 13 / 10 / 13;
     }

     &:nth-of-type(100) {
       grid-area: 10 / 14 / 10 / 14;
     }

     &:nth-of-type(101) {
       grid-area: 10 / 15 / 10 / 15;
     }

     &:nth-of-type(102) {
       grid-area: 10 / 16 / 10 / 16;
     }

     &:nth-of-type(103) {
       grid-area: 10 / 17 / 10 / 17;
     }
   }
 }





 /* Alkali Metals */
 .alk {
   background-color: #ff6666;
 }

 /* Alkaline Earth Metals */
 .aec {
   background-color: #ffdead;
 }

 /* Transition Metals */
 .trn {
   background-color: #add8e6;
 }

 /* Post-Transition Metals */
 .trm {
   background-color: #cccccc;
 }

 /* Metalloids (Semimetals) */
 .met {
   background-color: #cccc99;
 }

 /* Reactive Non-Metals */
 .rnm {
   background-color: #02b602;
 }

 /* Halogens */
 .hln {
   background-color: #ffff99;
 }

 /* Noble Gases */
 .nbl {
   background-color: #ffb3e6;
 }

 /* Lanthanides */
 .lan {
   background-color: #ffb366;
 }

 /* Actinides */
 .act {
   background-color: #ff99cc;
 }

 ol li a {
   text-decoration: none;
   color: inherit;
   /* keeps original text color */
 }

 ol li a:hover {
   text-decoration: none;
 }



/* Floating Pane */
.floating-pane {
  position: absolute;
  left: 20px;
  display: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Times New Roman', serif;
  background-color: #020702d7;
  color: #fff;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  border-style: ridge;
}

#lable{
  display: flex;
  gap:10px; 
}
#lable>div{
  height: 8vh;
  width:8v;
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
}

.alk:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.aec:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.trn:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.trm:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.met:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.rnm:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.hln:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.nbl:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.lan:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}
.act:hover{
  font-size: large;
  box-shadow:  1px 1px 20px white;
  transition-duration: 0.3s;
}



.float:hover .floating-pane {
  display: block;
}
ol {
  position: relative;
}



.space{
  width:10px;
}

footer{
  text-align:center;
  padding:1rem;
  font-size:0.9rem;
  color:#ffffff;
  text-shadow: #222;
  border-top:1px solid #ddd;
  margin-top:3rem;
}

    body {
      background-image: url("learn.jpg");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      margin: 0;
      height: 100%;
    }

    /* Add a blur overlay */
    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.439);
      /* Optional dark overlay */
      z-index: -1;
      /* Keep it behind content */
    }
